{% extends 'base.html.twig' %}

{% block title %} {{ 'Credit'|trans }} !{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ 'Credit'|trans }}</h1>
    <div id="block_form">
    {{ include('credit/_form.html.twig') }}
    </div>
    <div id="result"></div>
</div>
{% endblock %}
