<table class="table table-sm">
    <tr>
        <th>№</th>
        <th>{{ 'Payment date'|trans }}</th>
        <th>{{ 'Debt'|trans }}</th>
        <th>{{ 'Percent pay'|trans }}</th>
        <th>{{ 'Credit pay'|trans }}</th>
        <th>{{ 'Annuity payment'|trans }}</th>
    </tr>
    {% for val in credit.schedule %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ val.payment_date }}</td>
            <td>{{ val.debt }}</td>
            <td>{{ val.percent_pay }}</td>
            <td>{{ val.credit_pay }}</td>
            <td>{{ val.payment }}</td>
        </tr>
    {% endfor %}
</table>

{{ 'Total payment'|trans }}: {{ credit.totalPayment }}
<br>
{{ 'Overpay'|trans }}: {{ credit.overpay }}


